---
// src/components/AboutSection.astro
import SkillCard from '@components/about/SkillCard.astro';
import profileImg from '../../assets/images/profile.png';

--- 

<section class="site-container--small mx-auto px-4 pb-16 pt-36">
    <div class="grid grid-cols-1 md:grid-cols-[296px_auto] gap-[56px] items-center">
        
        <!-- Gambar -->
        <div class="hidden md:block w-[296px] h-[395px] top-0 bg-grays border-12 border-primary-dark rounded-large overflow-hidden">
            <img 
            src={profileImg.src} 
            alt="photo profile" 
            class="w-full h-full object-cover grayscale hover:grayscale-0 transition duration-300"
            />
        </div>

        <!-- Konten -->
        <div>
            <h5 class="text-body-base mb-2">Hello, I'm</h5>
            <h4 class="text-body-base mb-6">
                Muhammad Habib Al Hudry
            </h4>
            <p class="text-body-light leading-relaxed mb-8">
                Informatics graduate passionate about graphic design, UI/UX, and basic animation
                using After Effects, Premiere Pro, Blender, and CLO3D. Skilled with creative tools
                including Photoshop, Illustrator, Figma, and CorelDraw. Actively involved in
                organizations and awarded 5th place in a national UI/UX competition. Ready to
                contribute fresh ideas and collaborate in a dynamic team environment.
            </p>

            <h5 class="text-body-base mb-4">Key Skills</h5>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
                <SkillCard title="Core Skills" skills={['Graphic Design', 'Digital Imaging']} />
                <SkillCard title="Intermediate" skills={['UI/UX Design', 'Motion Graphic']} />
                <SkillCard title="Foundational" skills={['3D Animation', 'Video Editing']} />
            </div>
        </div>

    </div>
    <!-- Gambar -->
    <!-- <div class="flex justify-center md:justify-start">
        <div class="w-[296px] h-[395px] bg-grays border border-bg-background-dark rounded-lg overflow-hidden">
            <img 
                src={profileImg.src}
                alt="photo profile" 
                class="w-full h-full object-cover grayscale hover:grayscale-0 transition duration-300"
            />
        </div>
    </div>

    <div class="w-[296px] h-[395px] bg-grays border border-bg-background-dark rounded-lg overflow-hidden">
        <img 
        src={profileImg.src}
        alt="photo profile" 
        class="w-full h-full object-cover grayscale hover:grayscale-0 transition duration-300"
        />
    </div> -->

    <!-- Konten -->
    <!-- <div>
        <h2 class="text-lg text-gray-300 mb-2">Hello, I’m</h2>
        <h1 class="text-3xl md:text-4xl font-bold text-white mb-6">
            Muhammad Habib Al Hudry
        </h1>
        <p class="text-gray-400 leading-relaxed mb-8">
            Informatics graduate passionate about graphic design, UI/UX, and basic animation
            using After Effects, Premiere Pro, Blender, and CLO3D. Skilled with creative tools
            including Photoshop, Illustrator, Figma, and CorelDraw. Actively involved in
            organizations and awarded 5th place in a national UI/UX competition. Ready to
            contribute fresh ideas and collaborate in a dynamic team environment.
        </p>

        <h3 class="text-xl font-semibold text-white mb-4">Key Skills</h3>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
            <SkillCard title="Core Skills" skills={['Graphic Design', 'Digital Imaging']} />
            <SkillCard title="Intermediate" skills={['UI/UX Design', 'Motion Graphic']} />
            <SkillCard title="Foundational" skills={['3D Animation', 'Video Editing']} />
        </div>
    </div> -->
</section>
