---
// src/components/AboutSection.astro
import profileImg3 from '../../assets/images/profileSVG.svg';
import Button from '@components/ui/Button.astro';
import { FileText } from 'lucide-astro';
import MarqueeSkill from '@components/about/MarqueeSkill.astro';

const cvButton = {
    name: 'See My CV',
    link: 'https://drive.google.com/file/d/1cIq-I8WZz8OHBrLU5Ye4kxcK4G1AAlWu/view?usp=sharing',
};

--- 

<section class="header-offset relative">
    <div class="absolute inset-0 left-0 top-0 w-full h-full hero-backgrounds"></div>
    <div class="site-container mx-auto px-4 py-base z-10">
        <div class="relative items-center justify-center mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-[2.75fr_2fr] md:gap-8 lg:gap-20 items-center justify-center">
                <div class="flex flex-col justify-center items-start gap-8">
                    <div>
                        <h3 class="text-body-base" data-aos="fade-up">Hello, I'm</h3>
                        <h2 class="text-body-base" data-aos="fade-up" data-aos-delay="50">
                            Muhammad Habib Al Hudry
                        </h2>
                        <p class="text-body-light leading-[var(--leading-base)] mt-4 lg:mt-6" data-aos="fade-up" data-aos-delay="75">
                            I am a Computer Science graduate passionate about graphic design, UI/UX, and animation. Skilled in Photoshop, 
                            Illustrator, Figma, and 3D tools, with achievements including 5th place in the UI/UX Design Competition at INDONERIS 2023. 
                            I enjoy combining creativity and technical skills to craft impactful design solutions.
                            <!-- I am a Computer Science graduate with a strong interest in graphic design, UI/UX, and basic animation.
                            I am proficient in using Photoshop, Illustrator, Figma, and CorelDraw, and have explored motion and 3D design through After Effects, 
                            Premiere Pro, Blender, and CLO3D. I have experience in creating visually appealing designs and interfaces, supported by active involvement 
                            in organizations and achievements such as ranking 5th in the UI/UX Design competition at INDONERIS 2023. 
                            Combining creativity and technical skills, I am ready to bring fresh ideas and collaborate in a dynamic team to create impactful design solutions. -->
                        </p>
                    </div>

                    <div class= "flex flex-row justify-start items-start mt-0 md:mt-0 lg:mt-1 gap-6">

                            <Button href={cvButton.link} variant="secondary" size='lg' data-aos="fade-up" data-aos-delay="100">
                                <FileText class="w-5 h-5" />
                                {cvButton.name}
                            </Button>
                    </div>
                </div>

                <div class="relative flex md:ml-0 lg:ml-20 h-full items-center justify-center">
                    <div class="hidden md:block aspect-[4/5] w-full md:max-w-[320px] lg:max-w-[360px] overflow-hidden justify-center">
                        <img 
                        src={profileImg3.src} 
                        alt="photo profile" 
                        class="w-full h-full object-cover rounded-lg grayscale hover:grayscale-0 transition duration-300"
                        data-aos="fade-center"
                        data-aos-delay="200"
                        />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="site-container mx-auto px-4 py-large">
    <MarqueeSkill />
</section>
