
<div class="w-[296px] h-[395px] bg-grays border border-bg-background-dark rounded-lg overflow-hidden">
    <img 
        src="/home/profile.png" 
        alt="photo profile" 
        class="w-full h-full object-cover grayscale hover:grayscale-0 transition duration-300"
    />
</div>