---
import SkillCard from '@components/about/SkillCard.astro';
import GDicon from '../../assets/icons/graphic.svg';
import AnimationIcon from '../../assets/icons/animation.svg';
import UiDesignIcon from '../../assets/icons/web-design.svg?url';
---


<!-- <section class="relative items-center py-base bg-background-dark">
    <div class="site-container mx-auto px-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <SkillCard 
                title="Graphic Design" 
                description="My strongest skills are crafting impactful designs and detailed image manipulations that define my creative identity."
                icon={GDicon}
                data-aos="fade-up"
                data-aos-delay="50"
            />
            
            <SkillCard 
                title="UI/UX Design" 
                description="I design user-friendly interfaces, balancing aesthetics and usability to create digital experiences that feel engaging and intuitive."
                iconUrl={UiDesignIcon}
                data-aos="fade-up"
                data-aos-delay="100"
            />

            <SkillCard 
                title="Animation" 
                description="I have basic skills in motion and editing that bring energy to visuals, making designs more dynamic and expressive."
                icon={AnimationIcon}
                data-aos="fade-up"
                data-aos-delay="150"
            />
        </div>
    </div>

</section> -->