---
import { headerMenu } from '@data/menu';
import Logo from '@components/Logo.astro';
import { Menu, X, ChevronDown } from 'lucide-astro';
import Button from '@components/ui/Button.astro';
import Navigation from './ui/Navigation.astro';

const ctaButton = {
    name: 'Contact Us',
    link: '/contact',
};

// Get the current path to determine active menu item
const currentPath = Astro.url.pathname;

// Function to check if a link is the current page or a parent of the current page
const isCurrentPage = (link: string) => {
    if (link === '/') {
        return currentPath === '/';
    }
    return currentPath.startsWith(link);
};
---

<header class="fixed top-0 z-50 w-full left-0">
    <div class="absolute inset-0 w-full h-full bg-background/30 backdrop-blur-md z-0"></div>
    <div class="site-container mx-auto relative z-30">
        <div class="flex justify-between items-center py-4 px-4">
            <div class="w-9 h-9 flex items-center">
                <Logo />
            </div>
            <!-- <Logo /> -->
            <Navigation/>
        </div>
    </div>
</header>


