---
interface Props {
  variant?: 'header' | 'footer' | 'custom';
}

const { variant = 'header' } = Astro.props;

const getLogoSize = () => {
  switch (variant) {
    case 'header':
      return 'w-8 fill-body-base';
    case 'footer':
      return 'w-16 fill-body-base';
    case 'custom':
        return 'w-full h-full fill-body-base';
    default:
      return 'w-32 fill-body-base';
  }
};
---
<!-- <a href="/">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" class={getLogoSize()}>
    <path d="M...Z" />
    <path d="M-6.4373e-06 47.3449C-6.4373e-06 47.9535 0.241162 48.5373 0.67059 48.9681L31.3043 79.7047H61.1423C62.9718 79.7047 64.7262 80.4333 66.0184 81.7298L99.5011 115.325C99.9318 115.757 100.517 116 101.126 116H125.704C126.972 116 128 114.971 128 113.702V80.6551C128 80.0465 127.759 79.4627 127.329 79.0319L96.6957 48.2953H66.8577C65.0282 48.2953 63.2738 47.5667 61.9816 46.2701L28.4989 12.6751C28.0682 12.2429 27.4834 12 26.8735 12H2.29596C1.02793 12 -6.4373e-06 13.029 -6.4373e-06 14.2983V47.3449Z"/>
    <path d="M-6.4373e-06 113.702C-6.4373e-06 114.971 1.02793 116 2.29596 116H49.8779C51.146 116 52.1739 114.971 52.1739 113.702V102.735C52.1739 101.842 51.8275 100.983 51.2076 100.34L31.3043 79.7047H2.29596C1.02793 79.7047 -6.4373e-06 80.7337 -6.4373e-06 82.003V113.702Z"/>
    <path d="M75.8261 25.265C75.8261 26.1584 76.1725 27.0169 76.7924 27.6596L96.6957 48.2953H125.704C126.972 48.2953 128 47.2663 128 45.997V14.2983C128 13.029 126.972 12 125.704 12H78.1221C76.854 12 75.8261 13.029 75.8261 14.2983V25.265Z"/>
  </svg>
</a> -->
<div class={getLogoSize()}>
  <a href="/">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" class={getLogoSize()}>
      <path d="M...Z" /> <!-- isi path asli dari Logo.svg -->
      <path d="M-6.4373e-06 47.3449C-6.4373e-06 47.9535 0.241162 48.5373 0.67059 48.9681L31.3043 79.7047H61.1423C62.9718 79.7047 64.7262 80.4333 66.0184 81.7298L99.5011 115.325C99.9318 115.757 100.517 116 101.126 116H125.704C126.972 116 128 114.971 128 113.702V80.6551C128 80.0465 127.759 79.4627 127.329 79.0319L96.6957 48.2953H66.8577C65.0282 48.2953 63.2738 47.5667 61.9816 46.2701L28.4989 12.6751C28.0682 12.2429 27.4834 12 26.8735 12H2.29596C1.02793 12 -6.4373e-06 13.029 -6.4373e-06 14.2983V47.3449Z"/>
      <path d="M-6.4373e-06 113.702C-6.4373e-06 114.971 1.02793 116 2.29596 116H49.8779C51.146 116 52.1739 114.971 52.1739 113.702V102.735C52.1739 101.842 51.8275 100.983 51.2076 100.34L31.3043 79.7047H2.29596C1.02793 79.7047 -6.4373e-06 80.7337 -6.4373e-06 82.003V113.702Z"/>
      <path d="M75.8261 25.265C75.8261 26.1584 76.1725 27.0169 76.7924 27.6596L96.6957 48.2953H125.704C126.972 48.2953 128 47.2663 128 45.997V14.2983C128 13.029 126.972 12 125.704 12H78.1221C76.854 12 75.8261 13.029 75.8261 14.2983V25.265Z"/>
    </svg>
  </a>
</div>
