---
interface Props {
  category: string;
}

const { category } = Astro.props;
---

<span class="px-2 py-2 text-sm rounded-sm text-body-light border-body-dark border flex items-center justify-center leading-none font-medium">
  {category}
</span> 