---
interface Props {
  category: string;
}

const { category } = Astro.props;
---

<span class="px-3 py-2 text-sm rounded-[var(--border-radius-small)] md:rounded-[var(--border-radius-base)] text-body-light border-body-dark border flex items-center justify-center leading-none font-medium">
  {category}
</span> 